/* O que é css?
    - é  uma linguagem de estilo para páginas web.
    - ele prepara e deixa o conteúdo visual mais atrativo.
    - o documento é lido de cima para baixo, e algo escrito no topo
    pode ser sobreescrito por algo feito no final do arquivo.

*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/* Seletor de tipo */
h2 {
    background-color: yellow;
}

/* h3 { */
    /*  podemos colocar margin em um ponto especifico como bottom ou top, 
    ou podemos colocar no item como um todo */
    /* margin: 1rem; */
    /* margin-bottom: 1rem; */
    /* margin-top: 0px; */
/* } */

/* seletor de classe com . na frente */
/* .abc {} */

/* seetor de identificador único, com # e o nome único */
/* #teste {} */

/* Box models - Caixas
    no css cada um desses boxes retangulares é descrita usando
    um boxmodel padrão, o modelo em sí descrve o conteúdo do
    espaço ocupado por um elemento X. Cada box possui 4 edges:
    margin, border, padding e content.

    *é isso que as vezes interfere em alguns ajustes de padding ou
    margin, dependendo do que vamos fazer no projeto.
*/

/* flexbox */

.main-div-flexbox {
    border: 1px solid red;
    margin-top: 1rem;

    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.item {
    color: white;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    /* margin: 1rem; */


    display: flex;
    /* exemplo: texto centralizado dentro de um cubo */
    align-items: center;
    justify-content: center;
}

/* Pseudo-classe e elementos
    a gente consegue colocar novas ações e interações visuais
*/

.item:hover {
    background-color: limegreen;
    cursor: pointer;
}

input:focus {
    color: red;
    background-color: pink;
}

/* Media type
    indica qual o dispositivo o código css é direcionado. 
    afinal abrimos medias em vários dispositivos hoje em dia.
*/
.media-query-teste {
    background-color: aquamarine;
}

hr {
    margin-bottom: 1rem;
}

@media (max-width: 450px) {

    /* body */
    .media-query-teste {
        background-color: pink;
    }

    .main-div-flexbox {
        flex-direction: column;
    }


}