/* O que é css?
    - é  uma linguagem de estilo para páginas web.
    - ele prepara e deixa o conteúdo visual mais atrativo.
    - o documento é lido de cima para baixo, e algo escrito no topo
    pode ser sobreescrito por algo feito no final do arquivo.

*/

* {
    margin: 0;
    padding: 0;
}

html, body {
height: 100%;
}

/* Seletor de tipo */
h2 {
    background-color: yellow;
}

/* seletor de classe com . na frente */
.abc {

}

/* seetor de identificador único, com # e o nome único */
#teste {

}

/* Box models - Caixas
    no css cada um desses boxes retangulares é descrita usando
    um boxmodel padrão, o modelo em sí descrve o conteúdo do
    espaço ocupado por um elemento X. Cada box possui 4 edges:
    margin, border, padding e content.

    *é isso que as vezes interfere em alguns ajustes de padding ou
    margin, dependendo do que vamos fazer no projeto.
*/